/* LOGIN PAGE */

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #0f172a,
    #111827
  );
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}

.login-box h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #111827;
}

.login-box input {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
}

.login-box button {
  padding: 14px;
  border: none;
  background: #111827;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.login-box button:hover {
  background: #1e293b;
}